.card {
    text-align: center;
    background-color: $transparent-white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 4px 2px 4px $black;
    min-width: 150px;
}  

.centered-card{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
}