.row {
    display: flex;
    justify-content: center;
}

.leftcolumn {   
  position: static;
  width: 50%;
}

.rightcolumn {
  position: static;
  width: 20%;
  margin-left: 100px;
}

@media(max-width: 800px){
  .row{
    display: grid;
  }
  .rightcolumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }
  .leftcolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
