// @media screen and (min-width: 810px) {
//     .leftcolumn, .rightcolumn {   
//       width: 100%;
//     }
//     .row{
//       display: grid;
//     }
//   }

  //disable track
  ::-webkit-scrollbar {
  visibility: hidden;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}