::-webkit-scrollbar {
  visibility: hidden;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  background-color: #FFBC00;
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}

.header {
  padding: 30px;
  text-align: center;
  background: #FFBC00;
}

.header h1 {
  font-size: 50px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leftcolumn {
  position: static;
  width: 50%;
}

.rightcolumn {
  position: static;
  width: 20%;
  margin-left: 100px;
}

@media (max-width: 800px) {
  .row {
    display: -ms-grid;
    display: grid;
  }
  .rightcolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-left: 0;
  }
  .leftcolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  background: #DAA520;
  width: 90%;
  margin-top: 20px;
  border-radius: 10px;
}

.card {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 2px 4px #000;
          box-shadow: 4px 2px 4px #000;
  min-width: 150px;
}

.centered-card {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 40%;
}

img {
  height: 200px;
  border-radius: 10px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.member-icon {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  margin: 5px;
  height: 50px;
  width: 50px;
}

.btn {
  margin: 15px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #000;
  border-bottom-color: #000;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.btn:hover span {
  letter-spacing: 2px;
}

.btn:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btn:hover::after {
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding-top: 60px;
}

.sidenava {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenava:hover {
  color: #f1f1f1;
}

.sidenav.closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (min-height: 800px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenava {
    font-size: 18px;
  }
}
